# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno y configuración sensible
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs y archivos de ejecución
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
pnpm-lock.yaml

# Directorios de compilación o temporales (por si acaso)
dist/
build/
.tsbuildinfo

# Archivos del sistema operativo
.DS_Store
Thumbs.db
Desktop.ini